/* Home */

.line{
  padding-top: 20px;
}

.building{
  height: 5 40px;
  width: 100%;
}

.intro {  
  position: relative;
}


.carousel{  
  margin: 30px;
}

.card{
  margin: 20px;
  font-size: large;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  height: max-content;
}


/* About */
.img{
  background-image: url('../pics/pic2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.container{
  flex-direction: row;  
}

.head{
  padding-left: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: brown;
  font-size: 30px
}

.details {
  padding-left: 4rem;
  width: 40%;
  font-weight: bolder;
  color:black
}

