/* Home */
:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #b35539, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}
.highlight {
  position: relative;
}  
.headertitle {
  flex: 1;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  text-align: right;
  margin: 1rem;
}  

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
  text-align: center;
}

.line{
  padding-top: 20px;
}

.building{
  height: 5 40px;
  width: 100%;
}

.intro {  
  position: relative;
}


.carousel{  
  margin: 30px;
}

.card{
  margin: 20px;
  font-size: large;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  height: max-content;
}


/* About */
.img{
  background-image: url('../pics/pic2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  background-color:black;
  opacity: 40%;
  margin: 10px;
  border-radius: 8px;
}



.services{
  padding-left: 20px;
  color: cornsilk;
  font-weight: bolder;
  font-size: larger;
}

.details {
  width: 40%; 
  font-size: large;
  font-weight: bolder;
  color:orange;

}

.para {
  margin: 5rem;
  font-weight: 300;
  font-size: large;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
