.map { height: 180px; }

.city{
    color:white;
    margin-left:5px;
    font-size:10px;
    margin-top:12px;
}
.img{
    width: 40%;
}
.clients{
    text-align: center;
}
.container{
    margin: 20px;
}
.feedback{
    margin: 5px;
    padding: 5px;
}
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* Footer Code */

.footer{
  width: 100%;
  height:max-content;
  background-color:black;
}

.developer{
  padding-top: 5px;
  background-color: black;
  color: white;
  font-size: larger;
  font-family:Georgia, 'Times New Roman', Times, serif;
  height: max-content;
}
.icons{
  color:white;
  font-size: larger;
}

/* Why US */
.whyus {
  margin: 5rem;
  font-weight: 300;
  font-size: large;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


/* Chairman */
.chairmanContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}

.message{
  margin: 10px;
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .footer{
    width:100%;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
    .city{
        color:white;
        margin: 0;
        margin-left: 0%;
        font-size: small;
    }
    .chairmanContainer{
      display:flex;
      flex-direction: column;
      justify-content:center;
      
    }
    .message{
      margin: 10px;
      width: 90%;
    }
    .img{
      height:max-content;
      width: 90%;
    }
    .whyus {
      margin: 2rem;
      font-weight: 300;
      font-size: large;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    
}